Repository moment/moment, pull requests merged in 2020-05, with the labels that each got.

#4701 [locale] tr: Add meridiem support
  src/locale/tr.js
  src/test/locale/tr.js
Labels: todo

#5447 [locale] zh-cn: Improve next/prev week
  src/locale/zh-cn.js
  src/test/locale/zh-cn.js
Labels: locale approval needed

#5520 [locale] de, de-at, de-ch: add german translation for week
  src/locale/de-at.js
  src/locale/de-ch.js
  src/locale/de.js
  src/test/locale/de-at.js
  src/test/locale/de-ch.js
  src/test/locale/de.js
Labels: Needs tests, locale approval needed
